<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>RHP Notifier for Mac</title>
	<link rel="stylesheet" href="/style.css" type="text/css">
</head>

<body>
<div id="wrapper">
		<h1>RHP Notifier</h1>
		<img style="float: right; margin-left: 20px; padding: 4px; border: 1px solid #999" src="/public/site/images/rhp-screenshot.png" alt="RHP Notifier screen shot">
		<p>RHP Notifier is a Mac OS X application that shows a status icon with the number of games waiting for your move at online chess site <a href="http://www.redhotpawn.com/">Red Hot Pawn</a>.</p>
		<p><img src="/public/site/images/PawnIcon32.png" style="vertical-align:middle"><a href="http://files.reqr.net/rhpnotifier-__VERSION__.zip">Download RHP Notifier __VERSION__</a><i><br> Requires Intel Mac with OS X 10.5 (Leopard) or greater.</i></p>
		<p>RHP Notifier is free to download and to use. The <a href="http://github.com/invariant/rhpnotifier">source code</a> is available.</p>
		<p><b><center>Please email comments, bug reports, feature requests etc. to the author at <br><a href="mailto:nick@reqr.net?subject=Message about RHP Notifier">nick@reqr.net</a></center></b></p>

		<%= `bluecloth -f Help.md`%>
<h2>Version History</h2>
		<%= `bluecloth -f ReleaseNotes.md`%>
		<%= `bluecloth -f Credits.md`%>
		<%= `bluecloth -f License.md`%>
		</div>

</body>
</html>